/**
 * MapCanvas styles
 */

.map-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  aspect-ratio: 7/16;
}

.map-canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
